<%- include('../../../partials/header') %>
  <%- include('../../../partials/navbar') %>

  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2>Edição de categoria</h2>
      </div>

      <div class="card-body">
        <form action="/admin/categories/update" method="post">
          <label for="title">Categoria:</label>
          <input class="form-control mt-1" type="text" name="title" id="title" value="<%= category.title %>" placeholder="Título da categoria">
          <input type="hidden" name="id" value="<%= category.id %>">

          <div class="d-grid">
            <button type="submit" class="btn btn-success mt-4 btn-lg">Atualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<%- include('../../../partials/footer') %>