<%- include('../../partials/header') %>
  <%- include('../../partials/homeNavbar') %>
  <div class="container">
    <div class="container-fluid bg-primary text-light p-5">
      <h1 class="display-4">Bem-vindo!</h1>
      <hr>
      <p>Este é um blog sobre programação e tudo que cerca esse mundo incrível.</p>
    </div>

    <% articles.map(article => { %>
      <div class="card my-4">
        <div class="card-header">
          <h2><%= article.title %></h2>
        </div>
        <div class="card-body">
          <a href='/articles/<%= article.slug %>' class="btn btn-success">Ler artigo</a>
        </div>
      </div>
    <% }) %>
  </div>
<%- include('../../partials/footer') %>