<%- include('../../../partials/header') %>
  <%- include('../../../partials/navbar') %>
  <div class="container">
    <div id="article-title">
      <h2>Artigos</h2>
      <a class="btn btn-success" href="/admin/articles/new">Criar artigo</a>
    </div>
    <hr>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Título</th>
          <th>Slug</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% articles.map(article => { %>
          <tr>
            <td> <%= article.id %></td>
            <td> <%= article.title %></td>
            <td> <%= article.slug %></td>
            <td> <%= article.category.title %></td>
            <td id="actions">
              <a title="editar" href="/admin/articles/edit/<%= article.id %>" class="btn btn-primary mx-2"><i class="fa-solid fa-pen-to-square"></i></a>
              <form action="/admin/articles/delete" method="post" onsubmit="confirmDeletion(this)">
                <input type="hidden" name="id" value="<%= article.id %>">
                <button title="deletar" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <script src="https://kit.fontawesome.com/dfc6253c2b.js" crossorigin="anonymous"></script>
  <script>
    const confirmDeletion = (form) => {
      event.preventDefault()
      const decision = confirm("Você deseja deletar este artigo?")
      if (decision) {
        form.submit()
      } else {}
    }
  </script>
<%- include('../../../partials/footer') %>